#app {
  height: 500px;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("background_sunrise.gif");
  background-repeat:repeat;
  border:1px solid #c20202;
  position: relative;
}

#city-select{
  appearance: none;
  padding: 0 1em;
  background-color: var(--darkgray);
}

.city_selection{
  position: absolute;
  left: 0;
  top: 0;
}

.center{
  padding-top: 3.5rem;
}

.day-forecast{
  padding-top: 0;
  overflow: auto;
  white-space: nowrap;
  display: flex;
}


.day-forecast a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.day-forecast  a:hover {
  color: #c20202;
}


.card {
  font-size: 30px;
  padding-bottom: 6em;
}
