#app {
  height: 500px;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-repeat:repeat;
  position: relative;
}
/*This is the background of the app during the day. We decided on having a different 
background for day and night as it aids our target audeince of what the weather is 
like outside e.g. when it turns night it usually gets colder etc*/
.day{
  background-image: url('background_sunrise.gif');
  background-repeat: no-repeat;
  background-position:center center;
}
/*The background for night which will automatically change*/
.night{
  background-image: url('background_night.gif');
  background-repeat: no-repeat;
  background-position:center center;
}

.day{
  background-image: url('background_sunrise.gif');
  background-repeat: no-repeat;
  background-position:center center;
}

.night{
  background-image: url('background_night.gif');
  background-repeat: no-repeat;
  background-position:center center;
}

#clickbtn{
  margin-left: 5px;
  font-size: 10px;
  color: white;
  background-color: rgba(61, 61, 61, 0.7);
  height: 27px;
  width: 65px;
  border: 1px solid rgb(61, 61, 61);
}

#clickbtn:hover{
  color: rgb(230, 65, 65);
  height: 30px;
}

#city-select{
  background-color: rgba(87, 87, 87, 0.185);
  border: 1px solid rgb(61, 61, 61);
  padding-left: 1em;
  font-size: 15px;
  width: 120px;
}

.city_selection{
  position: absolute;
  left: 0;
  top: 0;
}

#city_name{
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.center{
  padding-top: 3.5rem;
}

.body{
  margin-left: -1.5em;
  margin-right: -1.5em;
}

.day-forecast{
  margin-top: 8.75rem;
  overflow: auto;
  display: flex;
  font-size: 10px;
}

.day-forecast a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.day-forecast  a:hover {
  color: #c20202;
}

.day-card{
  border: 2px solid orange;
  min-width: 4em;
  height: 8em;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 0 0.75% 2% 0.75%;
}
.day-card:hover {
  transform:translateY(-1.75%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.card {
  font-size: 30px;
}
#card-day{
  margin: 0;
  font-size: 15px;
  color: white;
}
#card-temp{
  margin-top: 5px;
  font-size: 15px;
  color: white;
  margin-bottom: 0;
}
.day-card img{
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}
/*This positions the windspeed and precipation on the screen*/
.otherdata{
  text-align: center;
  padding-left: 1.7em;
  padding-right: 1.7em;
}
/*This positions the precipation Text/Image more accurately from where it was positioned before
This was neccessary so we could get it exactly where we want*/
.otherdata #precipation{
  float:right;
  font-size: 16px;
  color: white;
  font-weight: 600;
}
/*This positions the windspeed Text/Image more accurately from where it was positioned before
This was neccessary so we could get it exactly where we want*/
.otherdata #windspeed{
  float:left;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.box a {
  font-size: 20%;
  position:absolute;
  top: 65%;
  left: 40%;
  font-size: 8px;
  color: white; 
  font-weight: bold;
}

.modal {
  display: flex;
  justify-content: center; 
  position: absolute;
  font-size:15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(61, 61, 61, 0.7);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  
}
.content {
  position: absolute;
  width: 200px;
  margin-top: 10em;
  padding: 1em;
  border-radius: 10px;
  background: rgba(61, 61, 61, 0.7);
  font-family: monospace;
} 
.modal:target {
  visibility: visible;
  opacity: 1;
}
.box-close {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fe0606;
  text-decoration: none;
  font-size: 30px;
}
