/*Give general font to keep consistancy throughout the app*/
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
/*This positions the actual app in the centre of the web page*/
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/*The makes the 'click' button have less sharp edges as we viewed this to be more fitting*/
button {
  border-radius: 8px;
}

/*Makes the background outside of the app white*/
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
